[*.cs]

# IDE0130: 命名空間與資料夾結構不相符
dotnet_diagnostic.IDE0130.severity = none

# IDE0051: 刪除未使用的私用成員
dotnet_diagnostic.IDE0051.severity = none

# IDE0044: 新增唯讀修飾元
dotnet_diagnostic.IDE0044.severity = none
